<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17800555424-m0d6lb43pp2c9p6avirdr3q2mdd2ueum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17800555424-m0d6lb43pp2c9p6avirdr3q2mdd2ueum</string>
	<key>API_KEY</key>
	<string>AIzaSyB49E5VpHrEYT2zJ89XLoHV3PhtQc9V0xU</string>
	<key>GCM_SENDER_ID</key>
	<string>17800555424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plants</string>
	<key>PROJECT_ID</key>
	<string>plants-f5d18</string>
	<key>STORAGE_BUCKET</key>
	<string>plants-f5d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17800555424:ios:b43131c170a505dd3b92c5</string>
</dict>
</plist>